.registrationsFilterBar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;

  & div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & label {
    color: #e2e6ee;
    font-weight: 600;
  }
}

.registrationsFilterBtn {
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid #31343c;
  background: var(--bg-primary);
  color: #90caf9;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  align-self: flex-end;
  margin-left: auto;

  &:hover {
    background: #23272f;
    color: #fff;
  }
}

@media screen and (min-width: 48rem) {
  .registrationsFilterBar {
    flex-direction: row;
    gap: 2rem;
  }

  .registrationsFilterInput {
    flex: 1;
  }

  .registrationsFilterSelect {
    flex: 1;
  }
}
